header,footer {
    width: 100%;
    background: #1395E4;
    color: whitesmoke;
    border: 1px solod #000;
    box-sizing: border-box;
    text-align: center;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-align: center;
    flex-direction: column;
}
table,
tr,
td,
th {
    text-align: center;
    border: 2px #1395E4 solid;
}
form {
    display: flex;
    flex-direction: column;
}
form ul {
    list-style: none;
}

/* Cytoscape.js 書き出し場所定義*/
/* #cy {
    height: 300px;
    width: 400px;
    background-color: #f9f9f9;
} */

/* #cy {
    width: 100%;
    display: block;
} */
